---
import { buttonVariants } from "../components/buttonVariants";
import Layout from "../layouts/Layout.astro";
---

<Layout title="404 - Zackary Fotheringham">
	<div class="pt-24">
		<img
			alt="Man saying 'oh' in surprise"
			src="/images/error-gif.webp"
			class="mx-auto w-48 max-w-md rounded-sm md:w-full"
		/>
		<div class="my-auto grid auto-rows-min justify-items-center gap-1">
			<span
				class="text-custom-blue-100 place-self-center text-2xl font-semibold"
				>404</span
			>
			<p>Can't find that page!</p>
			<p>
				Please return <a href="/" class={buttonVariants({ variant: "link" })}
					>home</a
				>
			</p>
		</div>
	</div>
</Layout>
