---
import ExternalLink from "../components/ExternalLink.astro";
import { Icon } from "astro-icon";
import ProjectCard from "../components/ProjectCard.astro";
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="description"
			content="Portfolio site for Zackary Fotheringham. Software Engineer"
		/>
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Zackary Fotheringham</title>
	</head>
	<body class="bg-site-blue text-neutral-400 font-inter text-lg px-5 py-10">
		<section class="grid gap-4">
			<h1 class="text-4xl font-semibold text-neutral-300">
				Zackary Fotheringham
			</h1>
			<h2>Software Engineer</h2>
			<p>
				I develop web-based products and experiences that prioritize
				accessibility and inclusivity, ensuring everyone can engage and thrive
				in our online world.
			</p>
			<ul class="flex gap-3" aria-label="Social and contact links">
				<li>
					<ExternalLink href="https://github.com/curatedcode">
						<Icon name="ri:github-fill" class="w-8" />
					</ExternalLink>
				</li>
				<li>
					<ExternalLink
						href="https://www.linkedin.com/in/zackary-fotheringham/"
					>
						<Icon name="mdi:linkedin" class="w-8" />
					</ExternalLink>
				</li>
				<li>
					<ExternalLink href="mailto:zackfoth@gmail.com">
						<Icon name="ic:baseline-mail" class="w-8" />
					</ExternalLink>
				</li>
			</ul>
		</section>
		<main></main>
	</body>
</html>
