---
import { Mail } from "@lucide/astro";
import { GithubIcon, XTwitterIcon } from "../components/Icons";
import ProjectCard from "../components/ProjectCard.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Zackary Fotheringham">
	<div class="relative grid gap-y-16 md:grid-cols-4 md:gap-x-16">
		<section
			class="-mb-3 grid h-fit snap-none pt-10 transition-all duration-300 md:sticky md:top-8 md:content-between md:pt-15"
		>
			<div class="grid gap-4 md:auto-rows-min">
				<h1 class="text-custom-blue-100 hidden text-2xl font-semibold md:block">
					I'm Zack. I bring ideas to life.
				</h1>
				<h1
					class="text-custom-blue-100 flex flex-col text-center text-2xl font-semibold md:hidden"
				>
					<div>I'm Zack.</div>
					<div>I bring ideas to life.</div>
				</h1>
				<ul
					class="flex justify-center gap-4 md:justify-start"
					aria-label="Social and contact links"
				>
					<li>
						<a
							href="https://github.com/curatedcode"
							class="hover:text-custom-blue-100 transition-colors"
							title="Github"
							rel="nofollow noreferrer"
							target="_blank"
						>
							<GithubIcon />
						</a>
					</li>
					<li>
						<a
							href="https://www.x.com/@iamnotzack"
							class="hover:text-custom-blue-100 transition-colors"
							title="X (Twitter)"
							rel="nofollow noreferrer"
							target="_blank"
						>
							<XTwitterIcon />
						</a>
					</li>
					<li>
						<a
							href="mailto:me@zackaryf.com"
							class="hover:text-custom-blue-100 transition-colors"
							title="Email me@zackaryf.com"
							rel="nofollow noreferrer"
							target="_blank"
						>
							<Mail />
						</a>
					</li>
				</ul>
			</div>
		</section>
		<div class="grid gap-20 md:col-span-3 md:pt-16">
			<section class="grid gap-12 md:gap-16">
				<h1
					id="projects"
					class="-mb-3 w-fit scroll-m-24 text-xl font-semibold md:-mb-6"
				>
					RECENT PROJECTS
				</h1>
				<ProjectCard
					title="BlendCN"
					date="September 2025"
					tags={[
						{ name: "NextJS", href: "https://nextjs.org/" },
						{ name: "Shadcn/ui", href: "https://ui.shadcn.com/" },
						{
							name: "Radix Colors",
							href: "https://www.radix-ui.com/colors/custom/"
						}
					]}
					image="/images/blendcn.webp"
					links={[
						{ title: "Website", href: "https://blendcn.zackaryf.com/" },
						{
							title: "Github",
							href: "https://github.com/curatedcode/blendcn"
						}
					]}
				>
					BlendCN started as a simple tool I built for myself as just a way to
					map design tokens to color steps. But as I kept adding features like
					live component previews and CSS export, it grew into something more
					comprehensive. I’ve always liked shadcn for its structure, but it felt
					a bit neutral. Radix, on the other hand, had this thoughtful approach
					to color across components. So I figured: why not combine the two?</ProjectCard
				>
				<ProjectCard
					title="Florida Elect"
					date="March 2025"
					tags={[
						{ name: "NextJS", href: "https://nextjs.org/" },
						{ name: "PostgresSQL", href: "https://www.postgresql.org/" },
						{ name: "Tailwind", href: "https://tailwindcss.com/" }
					]}
					image="/images/florida-elect-hero.webp"
					links={[
						{ title: "Website", href: "https://florida-elect.zackaryf.com/" },
						{
							title: "Github",
							href: "https://github.com/curatedcode/florida-elect"
						}
					]}
				>
					I created Florida Elect as a way to make Florida’s in-state election
					results more accessible and insightful. With it, you can explore
					election data by district, dive into candidate profiles and their
					contributors, and uncover demographic trends that shape each race.
					It’s a tool designed to turn raw election data into clear, meaningful
					insights.</ProjectCard
				>
			</section>
			<section class="grid gap-12 md:gap-16">
				<h1
					id="case-studies"
					class="-mb-3 w-fit scroll-m-24 text-xl font-semibold md:-mb-6"
				>
					CASE STUDIES
				</h1>
				<ProjectCard
					title="Practical Car"
					date="May 2025"
					image="/images/practical-car-hero.webp"
					links={[
						{ title: "Live", href: "https://practical-car.zackaryf.com/" },
						{
							title: "Writeup",
							href: "/case-studies/practical-car",
							isInternal: true
						}
					]}
					lazyLoad={false}
				>
					I immediately recognized an opportunity to transform a functional but
					outdated car rental platform into a seamless, user-centered
					experience. The original site suffered from an shrunken interface,
					inconsistent visual language, and a avalibaility process that created
					unnecessary friction for users.</ProjectCard
				>
				<ProjectCard
					title="Maloney Legal"
					date="February 2025"
					image="/images/maloney-legal-hero.webp"
					links={[
						{ title: "Live", href: "https://maloney-legal.zackaryf.com/" },
						{
							title: "Writeup",
							href: "/case-studies/maloney-legal",
							isInternal: true
						}
					]}
				>
					I recognized a dedicated legal practice with extensive expertise in
					law across Florida. However, the digital presence wasn't effectively
					communicating the firm's professionalism or facilitating seamless
					client engagement. The original website lacked visual hierarchy—common
					issues for specialized service providers whose expertise lies outside
					digital design.</ProjectCard
				>
				<ProjectCard
					title="Escape Reality"
					date="February 2025"
					image="/images/escape-reality-hero.webp"
					links={[
						{ title: "Live", href: "https://escape-reality.zackaryf.com/" },
						{
							title: "Writeup",
							href: "/case-studies/escape-reality",
							isInternal: true
						}
					]}
				>
					As a premier escape room experience provider, their physical locations
					offered immersive, captivating adventures—yet their digital presence
					failed to match this level of engagement. The original website
					suffered from an outdated visual design that created more user
					friction than necessary.</ProjectCard
				>
				<ProjectCard
					title="Cookie Cottage"
					date="January 2025"
					image="/images/cookie-cottage-hero.webp"
					links={[
						{ title: "Live", href: "https://cookie-cottage.zackaryf.com/" },
						{
							title: "Writeup",
							href: "/case-studies/cookie-cottage",
							isInternal: true
						}
					]}
				>
					A local bakery shop needed a modern, user-friendly website that would
					enhance their online presence and attract new customers. The original
					website was outdated and lacked the necessary features to provide an
					engaging experience for both adults and children.</ProjectCard
				>
			</section>
		</div>
	</div>
</Layout>
