---
import ExternalLink from "../components/ExternalLink.astro";
import { Icon } from "astro-icon";
import ProjectCard from "../components/ProjectCard.astro";
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="description"
			content="Portfolio site for Zackary Fotheringham. Software Engineer"
		/>
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
		<link rel="manifest" href="/site.webmanifest" />
		<title>Zackary Fotheringham</title>
	</head>
	<body
		class="bg-site-blue text-site-blue-lighter font-inter px-5 py-10 grid gap-20"
	>
		<section class="grid gap-4">
			<h1 class="text-4xl font-semibold text-site-blue-lightest">
				Zackary Fotheringham
			</h1>
			<h2>Software Engineer</h2>
			<p>
				I develop web-based products and experiences that prioritize
				accessibility and inclusivity, ensuring everyone can engage and thrive
				in our online world.
			</p>
			<ul class="flex gap-3" aria-label="Social and contact links">
				<li>
					<ExternalLink
						href="https://github.com/curatedcode"
						className="hover:text-site-blue-lightest transition-colors"
					>
						<Icon name="ri:github-fill" class="w-8" />
					</ExternalLink>
				</li>
				<li>
					<ExternalLink
						href="https://www.linkedin.com/in/zackary-fotheringham/"
						className="hover:text-site-blue-lightest transition-colors"
					>
						<Icon name="mdi:linkedin" class="w-8" />
					</ExternalLink>
				</li>
				<li>
					<ExternalLink
						href="mailto:zackfoth@gmail.com"
						className="hover:text-site-blue-lightest transition-colors"
					>
						<Icon name="ic:baseline-mail" class="w-8" />
					</ExternalLink>
				</li>
			</ul>
		</section>
		<main class="grid gap-20">
			<section class="grid gap-2">
				<h1 class="text-site-blue-lightest mb-5 font-semibold">ABOUT</h1>
				<p>
					My programming journey began by creating games on Roblox, which
					sparked my curiosity into this world. As I kept going down this rabbit
					hole, my path became more web focued, where I discovered new spaces to
					bring my ideas to life.
				</p>
				<p>
					Right now, my main goal is to always learn more and have fun playing
					around with all the cool new tech that keeps coming out. I love
					discovering new things and the world wide web is the gift that keeps
					on giving.
				</p>
				<p>
					When I'm not at the computer, I enjoy hanging out with my family,
					playing with two my dogs, or trying to improve my terrible chess
					skills.
				</p>
			</section>
			<section class="grid gap-12">
				<h1 class="text-site-blue-lightest -mb-4 font-semibold">PROJECTS</h1>
				<ProjectCard
					title="Toshi"
					description="Toshi is an online marketplace where you can select from a wide variety of products."
					techUsed={[
						{ name: "React", url: "https://react.dev/" },
						{ name: "NextJS", url: "https://nextjs.org/" },
						{ name: "Tailwind", url: "https://tailwindcss.com/" },
						{ name: "MySQL", url: "https://www.mysql.com/" },
					]}
					imageUrl="toshi.png"
					imageAlt="Screenshot of Toshi app homepage"
					liveUrl="https://toshi-ecom.netlify.app/"
					githubUrl="https://github.com/curatedcode/toshi"
				/>
				<ProjectCard
					title="Web scraper"
					description="This is a web scraper that gets product details and reviews from Walmart.com products. Originally created for gathering data for my ecommerce project."
					techUsed={[
						{ name: "Typescript", url: "https://www.typescriptlang.org/" },
						{ name: "Express", url: "https://expressjs.com/" },
						{ name: "Puppetter", url: "https://pptr.dev/" },
					]}
					imageUrl="web-scraper.png"
					imageAlt="Web crawler sticker"
					githubUrl="https://github.com/curatedcode/web-scraper"
				/>
				<ProjectCard
					title="Close Circle"
					description="Close circle is a social media site to post and interacte with your close friends and family."
					techUsed={[
						{ name: "NextJS", url: "https://nextjs.org/" },
						{ name: "React", url: "https://react.dev/" },
						{ name: "MySQL", url: "https://www.mysql.com/" },
						{ name: "Tailwind", url: "https://tailwindcss.com/" },
					]}
					imageUrl="close-circle.png"
					imageAlt="Close Circle app homepage"
					liveUrl="https://close-circle.netlify.app/"
					githubUrl="https://github.com/curatedcode/close-circle"
				/>
			</section>
		</main>
		<footer class="mt-8">
			<p>
				Made with &#x2764. Coded in <ExternalLink
					href="https://code.visualstudio.com/"
					className="font-semibold hover:text-site-blue-lightest transition-colors"
				>
					VSCode
				</ExternalLink>, built with <ExternalLink
					href="https://astro.build/"
					className="font-semibold hover:text-site-blue-lightest transition-colors"
				>
					Astro
				</ExternalLink> and <ExternalLink
					href="https://tailwindcss.com/"
					className="font-semibold hover:text-site-blue-lightest transition-colors"
				>
					Tailwind CSS
				</ExternalLink>. Deployed on <ExternalLink
					href="https://aws.amazon.com/"
					className="font-semibold hover:text-site-blue-lightest transition-colors"
				>
					AWS
				</ExternalLink>. Thanks for visiting!
			</p>
		</footer>
	</body>
</html>
