---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Offline - Zackary Fotheringham">
	<div class="flex items-center justify-center">
		<div class="pt-48 text-center">
			<h1 class="mb-4 text-5xl font-bold">No internet</h1>
			<p class="mb-4 text-xl">Uh-Oh! You don't have access to the internet</p>
			<a
				href="/"
				class="hover:text-custom-blue-200 underline transition-colors"
			>
				Return Home
			</a>
		</div>
	</div>
</Layout>
