---
import { cn } from "../utils/cn";
import { buttonVariants } from "./buttonVariants";
import { navLinks } from "./Navbar.astro";

export interface Props {
	className?: string;
}

const { className } = Astro.props;
---

<footer
	class={cn([
		"mt-12 py-6 px-4 grid justify-center gap-6 max-w-4xl mx-auto md:grid-cols-2",
		className
	])}
>
	<div class="flex gap-6">
		{
			navLinks.map((link) => (
				<a href={link.path} class={buttonVariants({ variant: "link" })}>
					{link.name}
				</a>
			))
		}
	</div>
	<div class="text-center text-sm md:mt-0 md:ml-auto">
		&copy; {new Date().getFullYear()} Zack F
	</div>
</footer>
