---
import ExternalLink from "../components/ExternalLink.astro";

export interface Props {
  className?: string;
}

const { className } = Astro.props;
---

<footer class={`mt-8 ${className}`}>
  <p>
    Made with &#x2764. Coded in <ExternalLink
      href="https://code.visualstudio.com/"
      className="font-semibold hover:text-site-blue-lightest transition-colors"
      title="VSCode site"
    >
      VSCode,
    </ExternalLink> built with <ExternalLink
      href="https://astro.build/"
      className="font-semibold hover:text-site-blue-lightest transition-colors"
      title="Astro site"
    >
      Astro
    </ExternalLink> and <ExternalLink
      href="https://tailwindcss.com/"
      className="font-semibold hover:text-site-blue-lightest transition-colors"
      title="TailwindCSS site"
    >
      TailwindCSS.
    </ExternalLink> Deployed on <ExternalLink
      href="https://aws.amazon.com/"
      className="font-semibold hover:text-site-blue-lightest transition-colors"
      title="AWS site"
    >
      AWS.
    </ExternalLink> Thanks for visiting!
  </p>
</footer>
