---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import { getEntry } from "astro:content";
import { render } from "astro:content";

export async function getStaticPaths() {
	const caseStudies = await getCollection("caseStudies");

	return caseStudies.map((post) => ({
		params: {
			slug: post.data.slug
		},
		props: { post }
	}));
}

const { params } = Astro;
const entry = await getEntry("caseStudies", params.slug);

if (!entry) {
	throw new Error(`Could not find case study with slug "${params.slug}"`);
}

const { Content } = await render(entry);
---

<Layout title={`${entry.data.title} - Zackary Fotheringham`}>
	<div class="mb-8 pt-4 md:pt-16">
		<h1 class="text-xl font-bold md:text-2xl">{entry.data.title}</h1>
		<span class="mt-2 max-w-sm text-sm opacity-80 md:ml-1">
			{
				new Date(entry.data.date ?? "").toLocaleDateString("en-US", {
					month: "long",
					day: "numeric",
					year: "numeric"
				})
			}
		</span>
	</div>
	<div
		id="content"
		class="[&_*]:text-custom-blue-200 prose mx-auto max-w-none overflow-hidden md:px-4 [&a]:decoration-0"
	>
		<Content />
	</div>
</Layout>

<script>
	document
		.querySelector("#content")
		?.querySelectorAll("a")
		.forEach((a) => {
			a.classList.add("underline-slide");

			if (a.href.startsWith("/")) return a;

			a.rel = "noopener noreferrer";
			a.target = "_blank";
			return a;
		});
</script>
